<mat-toolbar color="primary">
	<mat-icon>account_balance</mat-icon>
	<a>Banco San Luis</a>
	<span class="move"></span>


	<a>
		<button mat-button (click)="goToBeneficiaries()">
			<mat-icon>face</mat-icon>
			Beneficiarios
		</button>
	</a>
	<a>
		<button mat-button>
			<mat-icon>account_circle</mat-icon>
			Cuentas
		</button>
	</a>
	<ng-template [ngIf]="this.itsAdmin">
		<a>
			<button mat-button (click)="goToClients()">
				<mat-icon>info</mat-icon>
				Clientes
			</button>
		</a>
	</ng-template>
	<a routerLink="/login" routerLinkActive="active">
		<button mat-button>
			<mat-icon>power_settings_new</mat-icon>
			LogOut
		</button>
	</a>

	<a>

		<button mat-button (click)="goToHome()">
			<mat-icon>home</mat-icon>
			Home
		</button>
	</a>


</mat-toolbar>

<!-- <div style="width:70%; height:100%;background: rgb(219, 219, 219);display:flex;align-items:center"> -->
<div class="mainDiv">
	<div class="divTitle">
		<h1 style="margin-top: 0;text-align:center;font-size: 25px;">Cuentas</h1>

	</div>

	<br style="height:100%">
	<div class="divCenter">
		<div *ngFor="let cuentas of this.listCuentas" class="divUsers">

			<div class="divTitle">
				<h1 style="margin-top: 0;text-align:center;font-size: 25px;"></h1>
				<mat-toolbar color="accent">
					<a>
						<button mat-button >
							<mat-icon>flag icon</mat-icon>
							Cuentas objetivos
						</button>
					</a>
					<a>
						<button mat-button (click)="goToAddObj(cuentas.NumeroCuenta)">
							<mat-icon>location_on</mat-icon>
							Agregar objetivo
						</button>
					</a>

					<a>
						<button mat-button (click)="goToEstados(cuentas.NumeroCuenta)">
							<mat-icon>description</mat-icon>
							Ver estados
						</button>
					</a>
				</mat-toolbar>
			</div>
			<div class="divUsersInformation">
				<h1> Identificacion: {{ cuentas.Identificacion }}</h1>
				<h1>Numero de cuenta: {{ cuentas.NumeroCuenta }}</h1>
				<h1> FechaConstitucion: {{ cuentas.FechaConstitucion }}</h1>
				<h1> Tipo: {{ cuentas.TipoCuentaAhorro }}</h1>
				<!-- <h1> Saldo: {{ cuentas.Saldo}}</h1> -->

			</div>
		</div>
	</div>
	<br>
</div>
<!-- </div> -->